.all-page {
  background-color: #040404;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  color: #eaeaea;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.advantage-page {
  padding: 117px 100px 0;
}

.advantage-page__container {
  display: flex;
}

.advantage-page__container-text {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 50px;
  width: 48%;
}

.advantage-page__title {
  margin: 0;
  padding: 128px 0px 8px;
  font-size: 40px;
  line-height: 54px;
  font-weight: 300;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgba(234, 234, 234, 0.1);
}

.advantage-page__text {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
  opacity: 0.8;
  margin: 0;
  padding-top: 45px;
}

.advantage-page__button {
  margin: 20px 0 0;
  padding: 18px 121px;
  font-size: 24px;
  line-height: 33px;
  background-color: #040404;
  color: #eaeaea;
  border: 1px solid #eaeaea;
  border-radius: 50px;
}

.advantage-page__button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.25);
}

.advantage-page__container_right {
  flex-direction: row-reverse;
  padding-top: 91px;
}

.advantage-page__title_right {
  padding: 0 8px 0 0px;
  border: none;
}

.advantage-page__container-text_right {
  align-items: end;
  padding: 0 55px 0 0px;
  width: 50%;
}

.advantage-page__list {
  margin: 0;
  padding: 49px 8px 0 0;
  list-style: none;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  display: flex;
  text-align: end;
  flex-direction: column;
  align-items: end;
}

.advantage-page__list-item {
  border-bottom: 1px solid rgba(234, 234, 234, 0.1);
  padding: 0 0 4px;
  margin-bottom: 13px;
  width: fit-content;
}

.advantage-page__conteiner-button {
  display: flex;
}
.advantage-page__button_right {
  margin: 16px 0 0 auto;
}

.advantage-page__image_right {
  padding: 8px 0 0;
}

.advantage-page__title_center {
  border: none;
  text-align: center;
  padding: 91px 0 0 13px;
  letter-spacing: 0;
}

.advantage-page__container_center {
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -5px;
  padding-bottom: 47px;
  justify-content: space-between;
}

.smart-sity-background-image {
  background-image: url("../../images/advantage-pages/background-smart-city.png");
}

.smart-beach-background-image{
  background-image: url("../../images/advantage-pages/background-smart-beach.png");
  background-position-y: -98px;
}

.smart-space-background-image {
  background-image: url("../../images/advantage-pages/background-smart-space.png");
  background-position-y: -105px;
}

.advantage-page__text_center {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 0;
  letter-spacing: 0;
}

.advantage-page__text_product:first-child{
  padding: 24px 0 109px 5px;

}
.advantage-page__text_product {
  width: auto;
  text-align: center;
  padding: 24px 0 0 5px;
  letter-spacing: 0.00em;
}

.advantage-page__container-products{
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.advantage-page__container-products_right {
  align-items: flex-end;
}

