.all-page {
  background-color: #040404;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  color: #eaeaea;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 0 10px 0 20px;
  min-height: 60px;
  padding: 10px 83px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  width: 132px;
  height: 40px;
}

.header__column-links {
  display: flex;
  margin: 0;
  list-style: none;
  font-size: 20px;
  padding: 0px 0 0 3px;
}

.header__list-item {
  padding: 10px 50px 0 0;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__language {
  display: flex;
  align-items: self-end;
  margin: 0;
  list-style: none;
  font-size: 20px;
  line-height: 27px;
  padding: 1px 1px 0;
}

.header__language-item {
  padding: 0 26px 0 0;
}
.header__language-item:last-child {
  padding-right: 0;
}

.header__language-link {
  text-decoration: none;
  color: white;
}

.header__language-link_active {
  font-size: 36px;
  line-height: 29px;
}

.promo {
  position: relative;
  overflow:hidden;
  padding: 0px 0px 150px 100px;
}

.promo__container {
  width: 750px;
  height: 750px;
  position:absolute;
  top: -120px;
  right: -15px;
  z-index: -10;
  border-radius: 50%;
  background: radial-gradient(
    closest-side,
    #101010 196px,
    #070707 196px,
    #070707 210px,
    #101010 210px,
    #101010 213px,
    #070707 213px,
    #070707 230px,
    #0A0A0A 230px,
    #0A0A0A 301px,
    #101010 301px,
    #101010 303px,
    #070707 303px,
    #070707 344px,
    #101010 344px,
    #101010 347px,
    #0A0A0A 347px,
    #0A0A0A 375px
  );
}

.promo__picture {
  width: 304px;
  height: 304px;
  border-radius: 50%;
  position:absolute;
  top: 224px;
  right: 224px;
}

.promo__title {
  font-size: 40px;
  font-weight: 300;
  line-height: 54px;
  margin: 0;
  padding-bottom: 53px;
  padding-top: 250px;
  width: 65%;
}

.button {
  font-size: 24px;
  line-height: 33px;
  background-color: #040404;
  color: #eaeaea;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  padding: 18px 74px;
}

.products {
  padding-top: 99px;
}

.chapter {
  font-size: 40px;
  line-height: 54px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0 9px 0 0;
  overflow: hidden;
}

.chapter:before,
.chapter:after {
  content: '';
  display: inline-block;
  vertical-align: super;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: rgba(234, 234, 234, 0.1);
  border: solid #040404;
  border-width: 1px 65px;
}
.chapter:before {
	margin-left: -100%;
}
.chapter:after {
	margin-right: -100%;
}

.cards {
  justify-content: center;
  margin: 0 auto;
  padding: 29px 3px 0 0px;
  display: grid;
  grid-template-columns: repeat(2, 705px);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 705px;
  height: 578px;
  background: rgba(208, 222, 231, 0.09);
  border: 1px solid rgba(234, 234, 234, 0.1);
}

.card__status {
  font-size: 12px;
  line-height: 16px;
  color: #3E7EDE;
  text-align: center;
  margin: 0;
  padding: 9px 5px 0px 0;
}

.card__logo {
  width: 170px;
  height: 68px;
}

.card__subtitle {
  font-size: 24px;
  line-height: 33px;
  width: 81%;
  text-align: center;
  margin: 0;
  padding: 5px 1px 40px 0;
}

.card__image {
  width: 660px;
  height: 295px;
}

.button_card {
  font-size: 17px;
  line-height: 23px;
  margin-top: 15px;
  padding: 12px 55px 13px 55px;
  background: rgba(208, 222, 231, 0);
}

.advantage {
  padding-top: 76px;
}

.advantage__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 52px;
  margin: 0;
  padding: 75px 0 0;
  font-size: 24px;
  line-height: 32px;
  color: rgba(62, 126, 222, 1);
  text-align: center;
}

.advantage__list-iteam {
  list-style: none;
}

.advantage__icon {
  width: 149px;
  height: 84px;
}

.advantage__subtitle {
  margin: 0;
}