.article {
  padding: 104px 10% 0 10.4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article__button_arroy {
  background-image: url(../../images/article/button_arrow-up.svg);
  background-size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 95%;
}

.article__container {
  display: grid;
  grid-template-columns: 0.83fr 1fr;
}

.article__image-container {
  height: 606px;
  overflow: hidden;
  padding: 8px 0 0;
}

.article__image-container_medium {
  height: 650px;
}
.article__image-container_mini {
  height: 547px;
}
.article__image-container_max {
  height: 786px;
}

.article__image-container_max-recycle-trash-can{
  height: auto;
}
.article__image-container_max-recycle {
  height: 645px;
  overflow: hidden;
  padding: 4px 0 0;
}
.article__image-container_mega-max-recycle {
  height: auto;
  padding-top: 10px;
}
.article__image {
  width: auto;
}

.article__time {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
}

.article__title {
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  margin: 0;
  padding: 6px 0 100px;
}

.article__text {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0 12px 0 0;
}

.article__container-text {
  padding-left: 100px;
}

.article__under-text-container {
  padding: 45px 0 45px;
  width: 66%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article__under-text-container_mini-bottom {
  padding: 45px 0 34px;
}

.article__under-text-container_mini-top {
  padding: 39px 0 45px;
}

.article__right-column {
  width: 69.5%;
}

.article__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 62px 0 0px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 300;
}

.article__subtitle_left {
  width: 100%;
  letter-spacing: 0.025em;
  padding-bottom: 47px;
}

.article__subtitle_text-container {
  padding-top: 0;
}

.article__subtitle-list {
  padding: 45px 0 25px;
  line-height: 58px;
}

.article__text-second {
  padding: 33px 0 0px;
}

.article__text-medium {
  padding: 45px 0 45px;
}

.article__text-last {
  padding: 45px 0 0;
}

.article__list {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0px 0 44px;
  font-size: 36px;
  line-height: 58px;
  font-weight: 300;
}

.article__list_container-disc {
  padding: 0 0 0 27px;
}

.article__list_under-disc {
  padding: 45px 0 0 27px;
}
.article__list_container {
  padding-bottom: 0;
}

.article__list-item {
  list-style: none;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.05em;
  padding-bottom: 2px;
}

.article__list-item_style-disc {
  list-style: disc;
  padding-bottom: 33px;
}

.article__list-item_style-disc:last-child {
  padding-bottom: 0px;
}

.article__list-title {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 36px 0 1px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.article__list-title_second {
  padding: 10px 0 1px;
}

.article__list-title_last {
  padding: 44px 0 1px;
}

.article__text-list {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 1px 0 1px;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.article__title-span {
  font-weight: 300;
  padding-left: 6px;
}

.article__list-item_point {
  padding-top: 33px;
  padding-bottom: 0;
}
.article__list-item_point:first-child {
  padding-top: 33px;
}
.article__image-container_medium-traffic {
  height: 780px;
}
.article__image-container_mini-traffic {
  height: auto;
  padding-top: 11px;
}

.article__image-container_mini-traffic-road {
  height: 606px;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .article {
    padding: 126px 10% 0 10.4%;
  }

  .article__image-container {
    height: 520px;
    overflow: hidden;
    padding: 0px 0 0;
  }

  .article__button_arroy {
    background-size: 26px;
    width: 26px;
    height: 26px;
  }

  .article__image-container_mini-plus {
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 0 0;
  }
  .article__image-container_medium {
    height: 416px;
  }
  .article__image-container_mini {
    height: 502px;
  }
  .article__image-container_max {
    height: 434px;
  }
  .article__image-container_medium-traffic {
    height: 372px;
  }
  .article__image-container_mini-traffic {
    height: 348px;
    padding-top: 5px;
  }
  .article__image-container_mini-beach {
    height: 535px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    padding: 0 0px 0 115px;
    justify-content: center;
  }
  .article__image-container_medium-beach {
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 4px;
  }
  .article__image-container_medium-maxi-beach {
    height: 525px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 3px;
  }
  .article__image-container_max-recycle {
    height: 645px;
    overflow: hidden;
    padding: 4px 0 0;
  }
  .article__image-container_mega-max-recycle {
    height: auto;
    padding-top: 10px;
  }
  .article__image-container_mini-recycle {
    height: 312px;
    padding-top: 0px;
  }
  .article__image-container_max-traffic {
    height: 480px;
    display: flex;
    padding: 0px 0 0;
  }
  .article__image-container_medium-traffic-light {
    height: 335px;
    display: flex;
    padding: 5px 0 0;
  }
  .article__image-container_medium-traffic-road{
    height: 370px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
  }
  .article__image {
    padding-top: 0px;
    height: 115%;
  }

  .article__time {
    font-size: 12px;
    line-height: 15px;
  }

  .article__title {
    font-size: 20px;
    line-height: 27px;
    padding: 6px 0 70px;
  }

  .article__text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    padding: 0 12px 0 0;
  }

  .article__container-text {
    padding-left: 52px;
  }

  .article__under-text-container {
    padding: 30px 0 30px;
    width: 77.3%;
  }

  .article__under-text-container_mini-bottom {
    padding: 30px 0 30px;
  }

  .article__under-text-container_mini-top {
    padding: 13px 0 45px;
  }

  .article__right-column {
    width: 59.8%;
  }

  .article__subtitle {
    padding: 50px 0 0px;
    font-size: 20px;
    line-height: 30px;
    width: 60%;
  }

  .article__subtitle_left {
    width: 100%;
    letter-spacing: 0.025em;
    padding-bottom: 47px;
  }

  .article__subtitle_text-container {
    padding-top: 0;
  }

  .article__subtitle-list {
    padding: 27px 0 23px;
    line-height: 32px;
    letter-spacing: 0.02em;
  }

  .article__text-second {
    padding: 33px 0 0px;
  }

  .article__text-medium {
    padding: 45px 0 45px;
  }

  .article__text-last {
    padding: 45px 0 0;
  }

  .article__list {
    padding: 0px 0 29px;
    font-size: 36px;
    line-height: 58px;
  }

  .article__list_container-disc {
    padding: 0 0 0 27px;
  }

  .article__list_under-disc {
    padding: 45px 0 0 27px;
  }
  .article__list_container {
    padding-bottom: 0;
  }

  .article__list-item {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    padding-bottom: 2px;
  }

  .article__list-item_style-disc {
    list-style: disc;
    padding-bottom: 33px;
  }

  .article__list-item_style-disc:last-child {
    padding-bottom: 0px;
  }

  .article__list-title {
    padding: 27px 0 1px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }

  .article__list-title_second {
    padding: 0px 0 1px;
  }

  .article__list-title_last {
    padding: 44px 0 1px;
  }

  .article__text-list {
    margin: 0;
    padding: 1px 0 1px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }

  .article__title-span {
    font-weight: 300;
    padding-left: 6px;
  }

  .article__list-item_point {
    padding-top: 23px;
    padding-bottom: 0;
  }
  .article__list-item_point:first-child {
    padding-top: 23px;
  }
}
@media screen and (max-width: 600px) {
  .article__container {
    grid-template-columns: 0.9fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .article {
    padding: 45px 10px 0;
  }
  .article__container {
    grid-template-columns: 0.9fr 1fr;
  }
  .article__time {
    font-size: 8px;
    line-height: 9px;
  }
  .article__title {
    font-size: 16px;
    line-height: 22px;
    padding: 3px 1px 15px 0;
  }
  .article__image-container {
    height: 242px;
    padding: 20px 0 0;
  }
  .article__image {
    height: 100%;
    padding: 0;
  }
  .article__container-text {
    padding-left: 11px;
  }
  .article__text {
    font-size: 10px;
    line-height: 16px;
    padding: 0px 10px 0 0;
    letter-spacing: 0;
  }
  .article__under-text-container {
    padding: 0px 0 15px;
    width: 100%;
  }
  .article__text-second {
    padding: 15px 0 0;
  }
  .article__right-column {
    width: 49%;
  }
  .article__subtitle {
    padding: 20px 0 0px;
    font-size: 16px;
    line-height: 24px;
  }
  .article__image-container_mini-plus {
    height: 240px;
    padding: 2px 0 0;
  }
  .article__image-container_mini-plus-recycle {
    height: 235px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .article__image-container_medium-beach {
    height: 300px;
    padding: 6px 0 0 45px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .article__image-container_mini-beach {
    height: 220px;
    padding: 3px 0 0;
  }
  .article__image-container_max-beach {
    height: 250px;
    padding: 4px 0 0;
  }
  .article__image-container_mini-plus-recycle-trash-cah {
    height: 250px;
    padding: 4px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .article__image-container_medium-traffic {
    height: 217px;
  }
  .article__image-container_mini-traffic {
    height: 181px;
    padding-top: 5px;
  }
  .article__image-container_max-traffic {
    height: 434px;
  }
  .article__list {
    padding: 0px 0 15px;
  }
  .article__subtitle-list {
    padding: 15px 0 18px;
    line-height: 25px;
    letter-spacing: 0;
  }
  .article__list-item {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0;
  }
  .article__list-title {
    padding: 27px 0 1px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0;
  }
  .article__text-list {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0;
  }
  .article__subtitle_in-container {
    padding-top: 0;
    padding-bottom: 15px;
  }
  .article__list-title_second {
    padding: 0px 0 1px;
  }
  .article__title-span {
    font-weight: 300;
    padding-left: 6px;
  }
  .article__list-item_point {
    padding-top: 0px;
    padding-bottom: 0;
  }
  .article__list-item_point:first-child {
    padding-top: 0px;
  }
  .article__title_little {
    font-size: 14px;
    line-height: 19px;
  }
  .article__list-item_style-disc {
    padding-bottom: 15px;
  }

  .article__list-item_style-disc:last-child {
    padding-bottom: 0px;
  }
  .article__list_container-disc {
    padding-left: 15px;
  }
  .article__list_under-disc {
    padding: 15px 0 0 15px;
  }
  .article__list-item_point-traffic {
    padding-top: 15px;
  }
  .article__image-container_medium-recycle {
    height: 265px;
    padding-top: 5px;
}
}
