.header {
  min-height: 50px;
  padding: 10px 83px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  background: #040404;
  max-width: 1320px;
  min-width: 320px;
  width: 92%;
  z-index: 100;
}

.header__logo {
  width: 132px;
  height: 40px;
}

.header__column-links {
  display: flex;
  margin: 0;
  list-style: none;
  font-size: 20px;
  padding: 0px 0 0 2px;
}

.header__list-item {
  padding: 9px 50px 0 0;
  position: relative;
  flex: 1 1 100%;
}

.header__sub-column-links {
  pointer-events: none;
  transition: all 0.3s ease 0s;
  top: 100%;
  left: 0;
  min-width: 80%;
  margin: 0;
  padding: 0px 0 20px;
  list-style: none;
}

.header__sub-list-item {
  display: block;
  padding: 0px 0px 20px 40px;
  min-width: 100%;
  text-align: start;
  width: max-content;
  cursor: pointer;
}
.header__sub-list-item:last-child {
  padding-bottom: 0;
}
.header__sub-list-item:hover {
  opacity: 0.7;
}

.header__sub-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0 20px 50px;
}

.header__link {
  text-decoration: none;
  color: white;
}
.header__language {
  display: flex;
  align-items: self-end;
  margin: 0;
  list-style: none;
  font-size: 20px;
  line-height: 27px;
  padding: 1px 64px 0 0;
}

.header__language-item {
  padding: 0 26px 0 0;
}
.header__language-item:last-child {
  padding-right: 0;
}
.header__language-link {
  text-decoration: none;
  color: white;
}
.header__language-link_active {
  font-size: 36px;
  line-height: 29px;
}
#header__menu-toggle {
  opacity: 0;
  position: absolute;
}
.header__arrow_1 {
  display: none;
}
.header__arrow_2 {
  display: none;
}

._active {
  color:red;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 11px 75px 0 99px;
    min-height: 50px;
    width: 80%;
  }

  .header__logo {
    width: 100px;
    height: 30px;
    padding: 10px 0 0 0;
  }

  .header__column-links {
    font-size: 16px;
    padding: 0 31px 0 0;
  }

  .header__list-item {
    padding: 15px 20px 0 0;
  }

  .header__language {
    font-size: 16px;
    line-height: 22px;
    padding: 4px 20px 0px 0;
  }

  .header__language-item {
    padding: 0 21px 0 0;
  }

  .header__language-link_active {
    font-size: 24px;
  }
}

@media screen and (max-width: 720px) {
  .header__column-links {
    padding: 0;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 0px 0px 0px 7px;
    min-height: 30px;
    width: 100%;
  }

  .header__logo {
    width: 54px;
    height: 16px;
    padding: 7px 0 0 0;
    z-index: 30;
  }

  .header__column-links {
    font-size: 20px;
    padding: 20px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 30px;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: auto;
    z-index: 10;
    background: #040404;
    transition-duration: .25s;
    overflow: auto;
  }

  .header__list-item {
    padding: 0 0 24px;
  }
  .header__arrow_1 {
    position: absolute;
    top: 30px;
    display: block;
    width: 0;
    height: 0;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    margin: 0 0 0 80px;
    cursor: pointer;
  }

  .header__arrow_1_active {
    transform: rotate(-180deg);
  }
  .header__arrow_2 {
    position: absolute;
    display: block;
    width: 0;
    bottom: 75px;
    height: 0;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    margin: 0px 0 0 80px;
    cursor: pointer;
  }

  .header__arrow_2_active {
    bottom: 161px;
    transform: rotate(-180deg);
  }
  .header__language {
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    justify-content: center;
    padding: 1px 69px 0 0px;
  }

  .header__language-item  {
    padding: 3px 10px 0 0;
  }

  .header__language-link_active {
    font-size: 20px;
    line-height: 23px;
  }

  .header__menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2px;
    right: 10px;

    width: 23px;
    height: 26px;

    cursor: pointer;
    z-index: 20;
  }

  .header__menu-btn > span,
  .header__menu-btn > span::before,
  .header__menu-btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: white;
    transition-duration: 0.25s;
  }

  .header__menu-btn > span::after {
    content: "";
    top: 6px;
  }
/*
  #header__menu-toggle:checked ~ .header__menu-btn > span {
    transform: rotate(45deg);
    top: 12px;
    right: -5px;
    width: 21px;
  }
  #header__menu-toggle:checked ~ .header__menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #header__menu-toggle:checked ~ .header__menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
*/
  .header__column-links_visible {
    visibility: visible;
    top: 30px;
    right: 0;
  }

}
